body {
    text-align: center;
}

.menu {
    font-size: 25px;
    padding: 10px;
    list-style: none;
    margin-top: 0;
    top: 0;
    cursor: pointer;
    background-color: black;
    position: fixed;
    width: 100%;
}

.links {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
}


#welcome {
    color:chartreuse;
    background: linear-gradient(180deg, red, blue);
    height: 800px;
}
#videos {
    background: linear-gradient(180deg, red, blue);
}

a {
    font-size:25px;
    color: chartreuse;
}

a:hover {
    color:white;
    font-size: 32px;
}

html {
    scroll-behavior: smooth;
}

.head {
    font-size:35px;
    text-decoration: underline;
    color: chocolate;
    letter-spacing: 150%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
    width:100%;
    height: 300px;
}

.travel_mainDiv hr {
    width: 100px;
}

.travel_mainDiv h5 , .travel_mainDiv p {
    margin-left: 20px;
}

#achievementsID{
 padding-bottom: 10px;
}

.movie_head 
{
    font-size: 20px;
    padding: 6px 22 px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
    float: right;
}

.movie_text span {
    color: #ff7700;
}
    
}